<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block meta %}
    {% endblock %}    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />            
    {% block stylesheets %}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/adrj/css/normalize.css') }}" />#}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/adrj/css/main.css') }}" />
    {% endblock %}
    <title>{% block title %}AJ homepage{% endblock %}</title>
</head>
<body>
    <header>
    {% include 'header.html.twig' %}
    </header>
    <div id="container">
        <div class="bc top-left"></div><div class="bc top-right"></div>
    {% block body %}
    {% if info is defined %}
        <div class="info {{ info.type }}">{{ info.message }}</div>
    {% endif %}
        <div class="bc bottom-left"></div><div class="bc bottom-right"></div>
    {% endblock %}
    </div>
    <footer>
    {% include 'footer.html.twig' %}
    </footer>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
