{% extends "AdrjBlogBundle::blogBase.html.twig" %}
{% block title %}Blog{% endblock %}

{% block blogContainer %}
{{ parent() }}
<h1>Welcome to the Blog:</h1>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('blog_add_post') }}">Dodaj wpis</a>
{% endif %}
<div class="list">
    <ul>
    {% for post in posts %}
    <li>
        <h2>{{ post.title }}</h2>
        <p class="description">{{ post.description }}</p>
        <p class="createTime">utworzono: {{ post.createTime|date('Y-m-d H:i:s') }}</p>
        {% if post.editTime %}
        <p class="editTime">edytowano: {{ post.editTime|date('Y-m-d H:i:s') }}</p>
        {% endif %}
        <a href="{{ path('blog_show_post', { 'id': post.id }) }}">czytaj...</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_edit_post', { 'id': post.id }) }}">edytuj</a>
        {% endif %}
    </li>
    {% else %}
    <li>
        <h2>Brak postów</h2>
    </li>
    {% endfor %}
    </ul>    
</div>     
{% endblock %}
