{% extends "AdrjBlogBundle::blogBase.html.twig" %}
{% block title %}AJ Blog{% endblock %}

{% block blogContainer %}
{{ parent() }}
<h1>Witaj na blogu</h1>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('blog_add_post') }}">Dodaj wpis</a>
{% endif %}
{# dump(posts) #}
<div class="list posts">
    <ul>
    {% for post in posts %}
    <li>
        <div class="bc top-left"></div>
        <a href="{{ path('blog_show_post', { 'id': post.id }) }}"><h2>{{ post.title }}</h2></a>
        <p class="description">{{ post.description }}</p>
        <p class="createTime">utworzono: {{ post.createTime|date('Y-m-d H:i:s') }}</p>
        {% if post.editTime %}
        {# Wewnętrzny błąd twiga przy parsowaniu #}
        {#<p class="editTime">edytowano: {{ post.editTime|date('Y-m-d H:i:s') }}</p>#}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_edit_post', { 'id': post.id }) }}">edytuj</a>
        {% endif %}
        <div class="bc bottom-right"></div>
    </li>
    {% else %}
    <li>
        <h2>Brak postów</h2>
    </li>
    {% endfor %}
    </ul>    
</div>     
{% endblock %}
