{% extends "AdrjBlogBundle::blogBase.html.twig" %}
{% block title %}Blog{% endblock %}

{% block blogContainer %}
{{ parent() }}
 <h1>Welcome to the Blog:show page</h1>
    <div class="post">  
        <h2>{{ post.title }}</h2>
        <p class="content">{{ post.content }}</p>
        <p class="createTime">{{ post.createTime|date('Y-m-d H:i:s') }}</p>
        <a href="{{ path('blog_edit_post', {'id': post.id}) }}">Edytuj wpis</a>
    </div>     
{% endblock %}
