{% extends "AdrjBlogBundle::blogBase.html.twig" %}
{% block title %}Blog - {{ post.title }}{% endblock %}

{% block blogContainer %}
{{ parent() }}
 <h1>Blog - {{ post.title }}</h1>
    <div class="post">  
        {#<h2>{{ post.title }}</h2>#}
        <p class="createTime">utworzono: {{ post.createTime|date('Y-m-d H:i:s') }}</p>
        {% if post.EditTime %}
        <p class="editTime">edytowano: {{ post.editTime|date('Y-m-d H:i:s') }}</p>
        {% endif %}
        <p class="content">{{ post.content }}</p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_edit_post', {'id': post.id}) }}">edytuj wpis</a>
        {% endif %}
    </div>     
{% endblock %}
